.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal__wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.modal__inner {
  display: inline-block;
  padding: 2.5em;
  background: rgba(196, 196, 196, 0.5);
}

.modal__content {
  position: relative;
  padding: 1.875em 2.5em 2em 2.5em;
  border-radius: 8px;
  background: #FFF;
}

.modal__title {
  margin-bottom: 14px;
  color: #334D6E;
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.2;
}

.modal__info {
  width: 100%;
  max-width: 342px;
  color: var(--grey-4);
  font-size: 1em;
  line-height: 1.5;
}

.modal__cross {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.open {
  display: inline-block;
}

#modal {}

#modal-open {}

#modal-close {}